{
    "ADMIN_GUILD": 0,
    "BOT_LOG_CHANNEL": 0,
    "BOT_TOKEN": "",
    "DATABASE_PASSWORD": "",
    "DATABASE_HOST": "",
    "COGS": [
        "Administration"
    ],
    "EMBED_COLOR": "0x0",
    "EMOJI": {
        "BAN": 0,
        "FEED": 0,
        "JOIN": 0,
        "REACT": 0,
        "STICKY": 0,
        "TWITCH": 0,
        "WARN": 0
    },
    "EMOJI_GUILD": 0,
    "ENV": "dev",
    "REDDIT_API": {
        "CLIENT_ID": "",
        "CLIENT_SECRET": "",
        "PASSWORD": "",
        "USERNAME": "",
        "USER_AGENT": ""
    },
    "STICKY": {
        "MAX_MESSAGES": 5,
        "MIN_TIME": 15
    },
    "TWITCH_API": {
        "CLIENT_ID": "",
        "CLIENT_SECRET": "",
        "MAX_CONCURRENT_STREAMS": 10,
        "OFFLINE_THRESHOLD": 600,
        "NEW_THRESHOLD": 900,
        "DISAPPEAR_THRESHOLD": 120,
        "REFRESH_INTERVAL": 60,
        "FILTER_WORDS": []
    }
}
