{
    "ADMIN_GUILD": 0,
    "BOT_LOG_CHANNEL": 0,
    "BOT_TOKEN": "",
    "COGS": [
        "Administration",
        "Basic",
        "RSS",
        "Sticky"
    ],
    "EMBED_COLOR": "0x0",
    "ENV": "dev",
    "MONGO_URI": "",
    "RSS": {
        "update_interval_seconds": 300
    },
    "Sticky": {
        "max_messages": 5,
        "min_time": 15
    }
}